.container {
    margin-top: 30px;
    max-width: 500px;
}

.upload-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
}

@media(max-width: 2000px) {
    .container {
        width: 480px;
        margin: 20px auto 100px;
    }
}